.formItem{
    display: flex;
    flex-direction: column;
}
.formField{
border: 1px solid black;
border-radius: 5px;
font-size: 16px;
margin-bottom: 10px;
padding: 4px;
padding-left: 8px;
width: 350px;
}
.addButton{
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(134, 245, 126);
    border: 1px solid black;
}
.addButton:hover{
    background-color:rgb(245, 126, 237);
    border: 2px solid black;
    box-shadow: 0px 0px 8px 4px rgb(245, 126, 237);
    };
 .formItem > .errorMessage{
    font-size: 10px;
    color: rgb(149, 149, 149);
}